<%- include('../partials/header.ejs') %>

<div class="container">

  <h1>File Uploads</h1>
  <hr>
  <p>
  <a href="/admin/fileupload/new" class="btn btn-info btn-small">Add a New File</a>
  </p>
  
  <div class="container">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a id="a" class="nav-link active" href="/admin/fileupload">All</a>
      </li>
      <li class="nav-item">
        <a id="c" class="nav-link" href="/admin/machinemanuals">Machine Manuals</a>
      </li>
      <li class="nav-item">
        <a id="e" class="nav-link" href="/admin/trainingresources">Traninig Resource</a>
      </li>
      <li class="nav-item">
        <a id="h" class="nav-link" href="/admin/video">Videos</a>
      </li>
    </ul>
  </div>
  <br>


  <div class="row">
    <% for(let i of file){ %>
    <div class="col-lg-4 col-md-6 mb-3">
      <div class="card mx-auto" style="width: 20rem;">
        <div class="card-body">
          <h5 class="card-title"><%=i.name%>
          </h5>


          <span class="card-text">
            Description: <%=i.description%><br>
          </span>
          <span class="card-text">
            Type: <%=i.type%><br>
          </span>
          <span class="card-text">
            File :<a target="_blank" href="<%=i.FileUrl%>">Show</a><br>
          </span>
          <a href="/admin/file_edit/<%=i._id%>" class="btn btn-info btn-small">Edit</a>
          <form class="d-inline-block" action="/admin/fileupload/<%= i.id %>?_method=DELETE" method="POST">
            <button class="btn btn-danger btn-small">Delete</button>
          </form>
        </div>
      </div>
    </div>
    <%}%>
    <%if(all){%>
      <script>
        $(".nav-link").removeClass("active");
        $("#a").addClass("active");
      </script>
      <%}else if(fileupload[0].type=="Manual" ){%>
      <script>
        $(".nav-link").removeClass("active");
        $("#e").addClass("active");
      </script>
      <%}else if(fileupload[0].type=="Resource" ){%>
      <script>
        $(".nav-link").removeClass("active");
        $("#h").addClass("active");
      </script>
      <%}else if(fileupload[0].type=="Video" ){%>
      <script>
        $(".nav-link").removeClass("active");
        $("#m").addClass("active");
      </script>
      <%}%>
        </div>
    </div>